<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629203927766-75esp3e1mh12n75g4ruu5u91u3gl8ir6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629203927766-75esp3e1mh12n75g4ruu5u91u3gl8ir6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629203927766-3q44fug0mjuk3rngomrbl5kq1q500mah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCKn_IyZnyIk0hCXDGCQ-dpfn1M2xZ3Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>629203927766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.punch.android.admin</string>
	<key>PROJECT_ID</key>
	<string>punch-application</string>
	<key>STORAGE_BUCKET</key>
	<string>punch-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629203927766:ios:0a6f21889d378517433f77</string>
</dict>
</plist>